@import "bourbon";
@import "../../bower_components/gridlex/src/gridlex.scss";

$white-color: #fff;
$green-color: #a2ca28;
$orange-color: #fd634e;
$bg-color: #0d1119;
$def-padding: 214px;
$grey-color: #656e74;

body{
	font-family: "OpenSans", $helvetica;
	color: $white-color;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}


h1{
	color: $white-color;
	font-size: em(39.97px);
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

h2{

	font-size: em(33px);
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

h3{
	
  font-size: em(24px);
  line-height: 1em;
  margin: 0;
}
h4{
	font-size: em(14px);
	line-height: em(22px);
	margin: 0;
	text-transform: uppercase;
}

p{
    font-size: em(14px);
    font-weight: 400;
    line-height: 1.5em;
}

.main-head{
	min-height: 891px;
	background-image: url(../img/main-bg.jpg);
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;

}
.top-menu{
	padding: 44px 61px;
	min-height: 60px;
}
.logo{
	position: absolute;
	float: left;
	width: 100px;
	a{
		color: $white-color;
	}
	img{
		display: inline-block;
		margin-right: 13px;
	}
	h3{
		display: inline-block;
		margin: 0;
		text-transform: uppercase;
		position: absolute;
		top: -10%;
		line-height: em(25px);
		border-bottom: 3px solid $green-color;
	}
}
.main-mnu{
  font-size: em(15px);
  float: right;
  text-transform: uppercase;
  li{
   line-height: 24px;
   padding: 0 30px;
 }
   a:hover{
     color: $green-color;
     text-decoration: underline;
   }
     
   ul{
   	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	li{
   		display: inline-block;
   		a{
   			text-decoration: none;
   			color: #fff;
   			transition: all 0.5s ease;
   		}
   	}
   }
 }
 .toggle-mnu-wrap{
 	display: none;
 	.toggle-mnu{ 
    float: right;
    position: absolute;
    right: 10%;
    top: 4%;
    text-align: center;
    line-height: 48px;
  }
 }
 .toggle-mnu{
	display: block;
	width: 28px;
	height: 28px;
	margin-top: 14px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
}
.toggle-mnu span:after{
	top: 18px;
}

.toggle-mnu span{
	position: relative;
	display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before{
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}


.toggle-mnu.on span{
	background-color: transparent;
}

.toggle-mnu.on span:before{
	transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after{
	transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu.on + #menu{
	opacity: 1;
	visibility: visible;
}

.slogan{
	  bottom: 172px;
    position: absolute;
    margin-left: 117px;
	h1{
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
		span{
			color: $green-color;
		}
	}
	p{
		margin: 0;
		font-size: em(15px);
		text-transform: uppercase;
		padding-left: 170px;
		span{
			color: $orange-color;

		}
	}
}

.section-1{
	padding-top: 111px;
	padding-right: 214px;
	padding-left: 214px;
	padding-bottom: 0;
	background-color: $green-color;
.top-section{
	margin-bottom: 71px;
}
	.item{
		margin-bottom: 50px;
		padding: 0 15px;
		img{
			margin-bottom: 19px;
			width: 47px;
			height: 44px;
		}
		h3{
			margin: 0;
			margin-bottom: 32px;
			font-size: 1.4em;
		}
		p{
			margin-bottom: 28px;
			margin-top: 0;
		}
		a{
			text-decoration: none;
			color: $white-color;
			transition: all 0.3s ease;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.section-1 .section-content .content-text{
	background-color: $white-color;
	text-align: center;
	padding: 55px 55px 38px;
	
	h4{
		color: $orange-color;
		text-transform: uppercase;
		margin-bottom: 13px;

	}
	h2{
		color: $green-color;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.7em;
	}
	img{
		margin-bottom: 15px;
		margin-top: 13px;
	}
	p{
		color: $grey-color;
		margin-top: 0;
	}
	a{
		color: $green-color;
		text-decoration: none;
		transition: all 0.3s ease;
		text-transform: capitalize;
		&:hover{
			text-decoration: underline;
		}
	}

}
.content-img1{
	background-image: url(../img/pic1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 781px;
	height: 393px;
	position: relative;
	.txt{
		position: absolute;
		bottom: 45px;
		right: 50px;
		width: 150px;
		.txt-wrap{
			display: inline-block;
			margin-right: 13px;
		}
		p{
			color: $orange-color;
			font-size: em(16px);
			font-weight: 400;
			text-transform: capitalize;
			margin: 0;

			span{
				color: #fff;
			}
		}
		img{
			display: inline-block;
			position: absolute;
			bottom: 1%;
		}
	}
}
.content-img2{
	background-image: url(../img/pic2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 781px;
	height: 394px;
	position: relative;
	.txt{
		position: absolute;
		bottom: 45px;
		left: 50px;
		width: 180px;
		.txt-wrap{
			display: inline-block;
			margin-right: 13px;
		}
		p{
			color:#fff;
			font-size: em(16px);
			font-weight: 400;
			text-transform: capitalize;
			margin: 0;
		}
		img{
			display: inline-block;
			position: absolute;
			bottom: 1%;
		}
	}
}

.section-2{
	background-color: $orange-color;
	padding: 0 $def-padding;
	.section2-pic-small{
		background-image: url(../img/pic3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right bottom;
		max-width: 401px;
		height: 334px;
	}
	.section2-pic-large{
	background-image: url(../img/pic4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right bottom;
		max-width: 781px;
		height: 334px;
		color:#ffffff;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		text-transform: uppercase;
		p{
			display: inline-block;
			margin-right: 12px;
		}
		.tag-wrap{
			display: inline-block;
			float: right;
			position: relative;
			width: 135px;
			img{
				 bottom: 12px;
    		 position: absolute;
			}
		}

	}
	.section2-txt-white{
		background-color: #fff;
		text-align: left;
		position: relative;
		h4{
			color: $orange-color;
			margin-bottom: 13px;
		}
		h2{
			color: $green-color;
			margin-bottom: 40px;
		}
		p{
			color: $grey-color;
			line-height: em(28px);
			font-weight: 400;
			margin: 0;
		}
		img{
			position: absolute;
			right: 28px;
			top: 57px;
		}
	}
	.section2-txt-green{
		background-color: $green-color;
		color: #fff;
		h1{
			font-weight: 300;
		}
		p{

			margin-bottom: 163px;
		}
	}
}

.section-2 .grid-noGutter .section2-txt-white,
.section-2 .grid-noGutter .section2-txt-green{
		padding-top: 39px;
		padding-bottom: 52px;
		padding-left: 42px;
		padding-right: 63px;
	}
.section-2 .grid-noGutter .section2-txt-white{
	max-width: 401px;
	height: 334px;
}
.section-2 .grid-noGutter .section2-txt-green{
	max-width: 781px;
	height: 334px;
}	
.section-2 .grid-noGutter .section2-pic-large{
    padding-top: 63px;
		padding-left: 59px;
		padding-right: 59px;
	}

.section-2 .grid-noGutter .section2-pic-large-2{
	  background-repeat: no-repeat;
		background-size: cover;
		background-position: right bottom;
		max-width: 781px;
		height: 334px;
	  background-image: url(../img/pic5.jpg);
}
.section-2 .grid-noGutter .section2-txt-white-2{
	  background-color: $white-color;
		background-color: #fff;
		text-align: left;
		position: relative;
		padding-top: 55px;
		padding-left: 42px;
		padding-right: 69px;
		padding-bottom: 129px;
		max-width: 781px;
		min-height: 334px;

		h4{
			color: $orange-color;
			margin-bottom: 13px;
		}
		h2{
			color: $green-color;
			margin-bottom: 40px;
		}
		p{
			color: $grey-color;
			line-height: em(28px);
			font-weight: 400;
			margin: 0;
		}
		img{
			position: absolute;
			right: 28px;
			top: 57px;
		}
	}
.section-2 .grid-noGutter .section2-pic-small-2{
		background-image: url(../img/pic6.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		max-width: 401px;
		min-height: 334px;
	}
.section-2 .grid-noGutter .section2-txt-green-2{
	background-color: $green-color;
	color: #fff;
	max-width: 401px;
	min-height: 334px;
	padding-top: 55px;
	padding-bottom: 70px;
	padding-left: 40px;
	padding-right: 62px;
	position: relative;
	h4{
			margin-bottom: 11px;
		}
		h2{
			margin-bottom: 40px;
		}
		p{
			margin: 0;
		}
		img{
			position: absolute;
			right: 28px;
			top: 57px;
		}
}	
.leaders-container{
	width: 100%;
	height: 800px;
	background-image: url(../img/Layer-8.jpg);
	background-position: center;
}
.leaders-txt-wrap{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.leaders-txt{
	text-align: center;
	padding: 0 $def-padding;
	h1{
		font-weight: 400;
		font-size: em(45px);
		text-shadow: 1px 1px 1px black;
	}
	p{
		padding: 0 $def-padding;
		text-shadow: 1px 1px 1px black;
	}
}
footer{
	background-color: $bg-color;
	padding: 64px 150px 47px;
	.footer-icons{
		list-style-type: none;
		padding-left: 0;
		li{
			display: inline-block;
			margin-right: 11px;
		}
	}
	input{
		color: #000;
		height: 15px;
		border: none;
		border-radius: 2%;
		padding: 16px 20px;
		margin-bottom: 20px;
	}
	button{
		background-color: $green-color;
		border: none;
		font-size: 15px;
		text-align: center;
		height: 47px;
		width: 183px;
		border-radius: 2%;
		font-weight: bold;

	}
}

@import "media.scss";
