@import "bourbon";
@import "../../bower_components/gridlex/src/gridlex.scss";

$white-color: #fff;
$green-color: #a2ca28;
$orange-color: #fd634e;
$bg-color: #0d1119;
$def-padding: 214px;
$grey-color: #656e74;

body{
	font-family: "OpenSans", $helvetica;
	color: $white-color;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}


h1{
	color: $white-color;
	font-size: em(39.97px);
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

h2{

	font-size: em(33px);
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

h3{
	
  font-size: em(24px);
  line-height: 1em;
  margin: 0;
}
h4{
	font-size: em(14px);
	line-height: em(22px);
	margin: 0;
	text-transform: uppercase;
}

p{
    font-size: em(14px);
    font-weight: 400;
    line-height: 1.5em;
}

.main-head{
	min-height: 891px;
	background-image: url(../img/main-bg.jpg);
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;

}
.top-menu{
	padding: 44px 61px;
	min-height: 60px;
}
.logo{
	position: absolute;
	float: left;
	a{
		color: $white-color;
	}
	img{
		display: inline-block;
		margin-right: 13px;
	}
	h3{
		display: inline-block;
		margin: 0;
		text-transform: uppercase;
		position: absolute;
		top: -10%;
		line-height: em(25px);
		border-bottom: 3px solid $green-color;
	}
}
.main-mnu{
  font-size: em(15px);
  float: right;
  text-transform: uppercase;
  li{
   line-height: 24px;
   padding: 0 30px;
 }
   a:hover{
     color: $green-color;
     text-decoration: underline;
   }
     
   ul{
   	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	li{
   		display: inline-block;
   		a{
   			text-decoration: none;
   			color: #fff;
   			transition: all 0.5s ease;
   		}
   	}
   }
 }
 .toggle-mnu-wrap{
 	display: none;
 	.toggle-mnu{ 
    float: right;
    position: absolute;
    right: 10%;
    top: 4%;
    text-align: center;
    line-height: 48px;
  }
 }
 .toggle-mnu{
	display: block;
	width: 28px;
	height: 28px;
	margin-top: 14px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
}
.toggle-mnu span:after{
	top: 18px;
}

.toggle-mnu span{
	position: relative;
	display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before{
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}


.toggle-mnu.on span{
	background-color: transparent;
}

.toggle-mnu.on span:before{
	transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after{
	transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu.on + #menu{
	opacity: 1;
	visibility: visible;
}

.slogan{
	  bottom: 172px;
    position: absolute;
    margin-left: 117px;
	h1{
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
		span{
			color: $green-color;
		}
	}
	p{
		margin: 0;
		font-size: em(15px);
		text-transform: uppercase;
		padding-left: 170px;
		span{
			color: $orange-color;

		}
	}
}

.section-1{
	padding-top: 111px;
	padding-right: 214px;
	padding-left: 214px;
	padding-bottom: 0;
	background-color: $green-color;
.top-section{
	margin-bottom: 71px;
}
	.item{
		margin-bottom: 50px;
		padding: 0 15px;
		img{
			margin-bottom: 19px;
			width: 47px;
			height: 44px;
		}
		h3{
			margin: 0;
			margin-bottom: 32px;
			font-size: 1.4em;
		}
		p{
			margin-bottom: 28px;
			margin-top: 0;
		}
		a{
			text-decoration: none;
			color: $white-color;
			transition: all 0.3s ease;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.section-1 .section-content .content-text{
	background-color: $white-color;
	text-align: center;
	padding: 55px 55px 38px;
	
	h4{
		color: $orange-color;
		text-transform: uppercase;
		margin-bottom: 13px;

	}
	h2{
		color: $green-color;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.7em;
	}
	img{
		margin-bottom: 15px;
		margin-top: 13px;
	}
	p{
		color: $grey-color;
		margin-top: 0;
	}
	a{
		color: $green-color;
		text-decoration: none;
		transition: all 0.3s ease;
		text-transform: capitalize;
		&:hover{
			text-decoration: underline;
		}
	}

}
.content-img{
	img{
 max-width: 100%;
 min-height: 100%;
 }
 // background-image: url(../img/pic1.jpg);
 // background-size: cover;
 // background-position: center;
 position: relative;
 .txt{
 	position: absolute;
 	bottom: 45px;
 	right: 50px;
 	.txt-wrap{
 		display: inline-block;
 		margin-right: 13px;
 	}
 	p{
 		color: $orange-color;
 		font-size: em(16px);
 		font-weight: 400;
 		text-transform: capitalize;
 		margin: 0;
 		
 		span{
 			color: #fff;
 		}
 	}
 	img{
 		display: inline-block;
 		position: absolute;
 		bottom: 1%;
 	}
 }
}
.content-img:nth-child(3){
	.txt{
 	position: absolute;
 	bottom: 45px;
 	left: 50px;
 	p{
 		color: #fff;
 	}
}
}
.section-2{
	background-color: $orange-color;
	padding: 0 $def-padding;
	.section2-pic-small{
		img{
			max-width: 100%;
			min-height: 100%;
		}
	}
	.section2-pic-large{
		img{
			max-width: 100%;
			min-height: 100%;
		}
	}
	.section2-txt-white{
		background-color: #fff;
		text-align: left;
		position: relative;
		h4{
			color: $orange-color;
			margin-bottom: 13px;
		}
		h2{
			color: $green-color;
			margin-bottom: 40px;
		}
		p{
			color: $grey-color;
			line-height: em(28px);
			font-weight: 400;
			margin: 0;
		}
		img{
			position: absolute;
			right: 28px;
			top: 57px;
		}
	}
	.section2-txt-green{
		background-color: $green-color;
		color: #fff;
		h1{
			font-weight: 300;
		}
		p{

			margin-bottom: 150px;
		}
	}
}

.section-2 .grid-noGutter .section2-txt-white
{
		padding-top: 39px;
		padding-bottom: 50px;
		padding-left: 42px;
		padding-right: 63px;
	}
.section-2 .grid-noGutter .section2-txt-green{
	padding-top: 64px;
	padding-left: 61px;
	padding-right: 87px;
}	

@import "media.scss";
