/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.top-menu{
		.toggle-mnu-wrap{
			display: block;
		}
	}
	.main-mnu{
		background-color: #000;
		opacity: 0.8;
    display: none;
    margin-top: 10px;
    min-width: 295px;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 75px;
    z-index: 2;
		ul{
			li{
				display: block;
				line-height: 0;
				padding: 0;
			}
			a{
				display: block;
				line-height: 48px;
				padding: 0 20px;
				transition: all 0.5s ease;
				font-size: em(18px);
				&:hover{
					background-color: #6e6969;
				}
			}
		}
	}
	.section-1{
		padding-left: 150px;
		padding-right: 150px;
		text-align: center;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	
	/*Disable Animation on Mobile Devices*/
	.animated{
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.main-head{
		min-height: 600px;
	}

	.toggle-mnu-wrap .toggle-mnu {
		top: 6%;
	}
	.slogan{
		margin-left: 60px;

	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.top-menu{
		padding: 44px 10px;
	}
	.main-mnu {
		right: 15px; 
		top: 85px;
	}
	.main-head{
		min-height: 600px;
	}
	.slogan{
		margin-left: 20px;
		p{
			padding: 0;
		}
	}
	.section-1{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		.item{
		border-bottom: 1px solid #fff;
		padding: 0;
	}
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

